html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", arial, sans-serif;
    color: #333;
    font-size: 16px;    
}

header, footer {
    width: 100%;
}

header {
    border-top: 5px solid #83d0f2;
    padding: 15px 15px 0 15px;
}

.logo {
    font-family: "Zilla Slab", Palatino, serif;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    border-bottom: 1px solid black;
    padding: 6px 0;
    height: 36px;
}

.search {
    display: flex;
    width: 100%;
    border: 2px solid #9b9b9b;
    margin: 6px 0;
    padding: 6px 0;
    background-color: #fff;
}

input {
    font-family: "Open Sans", arial, sans-serif;
    width: 90%;    
}

.search img {
    height: 18px;
    align-self: center;
    padding-left: 10px;
}

main {
    background-color: white;
    flex: 1 1 auto;
}

.masthead {
    background-color: #83d0f2;
    padding: 40px 15px;
}

h1 {
    text-align: center;
}

h1 span{
    background-color: #333;
    color: #fff;
    line-height: 45px;
    font-size: 36px;
    font-family: "Zilla Slab", Palatino, serif;    
}

main ul {
    padding: 30px 15px;
}

.lorem-list {
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
}

#lorem-list-end {
    border: none;
}

footer {
    background-color: black;
    color: #83d0f2;
}