html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: "Open Sans", arial, sans-serif;
    color: #333;
}

header, footer {
    width: 100%;
}

.logo {
    font-family: "Zilla Slab", Palatino, serif;
    background-color: black;
    color: white;
    text-decoration: none;
}

main {
    background-color: #83d0f2;
}

footer {
    background-color: black;
    color: #83d0f2;
}